html, body{
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    background: #1A1D2A;
    padding: 100px;
    max-width: none;
    color: white;
}

.container{
    padding: 0px;
    max-width: none;
}

input,
select,
textarea {
    max-width: 280px;
}

.left-side-menu{
    height: 100%;
    float: left;
    font-size: large;
}
.left-side-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    background: #1A1D2A;
}

.left-side-menu > ul > li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.left-side-menu > ul > li a.active {
    background-color: black;
    color: white;
}

.left-side-menu > ul > li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.page-content {
    height: 100%;
    padding: 20px 50px;
    background: white;
    color: black;
    overflow: scroll;
}

.profile-summary {
    background: #e1e1ea;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.username {
    margin-left: auto;
    padding-top: 5px
}

.user-picture{
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.feed-item {
    background: #e1e1ea;
    padding: 10px;
    margin-bottom: 5px;
}

.rate-item{
    background: white;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.feed-item-username {
    font-size: large;
    color: #1A1D2A;
}

.rating-mark {
    float: right;
    margin: 10px;
    font-size: large;
    background: #1A1D2A;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
    color: white
}

.feed-item-time{
    float: right;
    font-size: medium;
    color: gray
}

.feed-item-userpic{
    width:40px;
    border-radius:40px;
    margin: 5px;
    margin-bottom:10px;
}

.feed-item-text{
    font-size: large;
    font-style: italic
}

.beer-brand-img{
    width: 60px;
}

.option-span{
    cursor: pointer;
}

.option-span > img{
    width: 30px;
}

.submit-item {
    border: 1px solid gray;
    border-radius: 5px;
    background: #1A1D2A;
}

.star-icon {
    color: #e1e1ea !important;
}

.rate-item > .ng-valid > span > span > .star-icon {
    color: #1a1d2a !important;
}

input{
    max-width: none;
}

.submit-item button{
    margin-top: 5px;
}

.feed-item-comment, .feed-item-like, .feed-item-dislike, .delete-item{
    width: 25px;
    cursor: pointer;
    margin: 5px;
}

.feed-item-dislike{
    transform: scaleY(-1);
}

.count-text {
    font-size: large;
    color: #1A1D2A;
}

.comment-sender, .comments-view{
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

.comment-sender{
    height: 80px;
}

.comment-sender input{
    width: 80%;
    margin-top: 8px;
    margin-left: 8px;
    float: left;
}

.comment-sender > .feed-item-userpic {
    float: left;
}


.comment-item img{
    width: 20px;
}

.comment-datetime{
    float: right;
    font-size: small;
    color: gray;
}

.comment-item-username {
    color: green;
    margin: 0 2px 0 2px;
}

.beer-table{
    width: 70%;
    float:left;
}

.beer-filters {
    width: 25%;
    float: right;
    background: #e1e1ea;
    padding: 20px;
    position: relative;
    display: grid;
}

.beer-filters button {
    text-align: left;
    padding: 10px;
    font-weight: 600;
    color: #1A1D2A;
    background: #e1e1ea;
    border: 2px solid white;
    margin: 2px;
    text-transform: uppercase;
    outline: none;
}

.beer-filters img {
    margin-right: 5px;
}

.beer-table > .submit-item{
    padding: 10px;
    margin-bottom: 20px;
}
.beer-table > .submit-item span {
    color: white;
}
.beer-table > .submit-item input {
    margin-bottom: 5px;
}
.beer-table > .submit-item a{
    cursor: pointer;
}