<div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content" (click)="$event.stopPropagation();">
            <div class="modal-body">
                <ng-content select=".app-modal-body"></ng-content>
            </div>
        </div>
    </div>
</div>

<style>
    .modal {
        background: rgba(0,0,0,0.6);
    }
</style>
