<form class="form-horizontal" #dayReportForm="ngForm">
    <input type="text" required placeholder="Tell us how was it!" [(ngModel)]="model.Text" [ngModelOptions]="{standalone: true}" />
    <input type="number" required placeholder="Rate it!" [(ngModel)]="model.BeerRatingMark" [ngModelOptions]="{standalone: true}" />
    <select [(ngModel)]="model.BeerItem" [ngModelOptions]="{standalone: true}" >
        <option *ngFor="let beer of beerItems" [ngValue]="beer">{{beer.Guid}}</option>
    </select>

    <button type="submit" class="btn btn-success pull-left" (click)="sendPost()">
        Submit
    </button>
</form>
<hr />
<div class="feed-item" *ngFor="let item of feedPosts">
    <img class="feed-item-userpic" [src]="item.User.UserPictureUrl" />
    <span class="feed-item-username">{{item.User.Username}}</span>
    <span class="feed-item-time">{{item.DateTime}}</span> <br />
    <span class="feed-item-text">{{item.Text}}</span>
    <div class="rate-item">
        <img class="beer-brand-img" [src]="item.BeerItem.BeerBrand.LogoUrl"/>
        <span>{{item.BeerItem.BeerBrand.Name}}</span>
        <span>{{item.BeerItem.Name}}</span>
        <span class="rating-mark">{{item.BeerRatingMark}}</span>
    </div>
    <span class="feed-item-comment">Comment</span>
    <span class="feed-item-like">Like</span>
</div>