<div class="feed-item submit-item">
    <form class="form-horizontal" #dayReportForm="ngForm">
        <input type="text" class="form-control" required placeholder="Tell us how it was!" [(ngModel)]="model.Text" [ngModelOptions]="{standalone: true}" />
        <input auto-complete
               [source]="beerItems"
               [(ngModel)]="model.BeerItem"
               [ngModelOptions]="{standalone: true}"
               [list-formatter]="autocompleListFormatter"
               display-property-name="Name"
               class="form-control"
               placeholder="What beer?" />

        <rating [(ngModel)]="model.BeerRatingMark" [max]="10"
                [readonly]="false"
                [disabled]="false"
                [required]="true"
                [ngModelOptions]="{standalone: true}">
        </rating>

        <button type="submit" class="btn btn-success pull-right" (click)="sendPost()">
            Send post
        </button>
    </form>
</div>

<hr />
<div class="feed-item" *ngFor="let item of feedPosts">
    <img class="feed-item-userpic" [src]="item.User.UserPictureUrl" />
    <span class="feed-item-username">{{item.User.Username}}</span>
    <span class="feed-item-time">{{item.DateTime.toLocaleString()}}</span> <br />
    <span class="feed-item-text">{{item.Text}}</span>
    <div class="rate-item">
        <img class="beer-brand-img" [src]="item.BeerItem.BeerBrand.LogoUrl"/>
        <span>{{item.BeerItem.BeerBrand.Name}}</span>
        <span>{{item.BeerItem.Name}}</span>
        <span class="rating-mark">{{item.BeerRatingMark}}</span>
    </div>
    <span class="feed-item-comment">Comment ({{item.Comments.length}})</span>
    <span class="feed-item-like">Like ({{item.Likes.length}})</span>
</div>