<modal-dialog>
    <div class="app-modal-body" *ngIf="postInModal">
        <div class="feed-item">
            <img class="feed-item-userpic" [src]="postInModal.User.UserPictureUrl" />
            <span class="feed-item-username">{{postInModal.User.Username}}</span>
            <span class="feed-item-time">{{postInModal.DateTime.toLocaleString()}}</span> <br />
            <span class="feed-item-text">{{postInModal.Text}}</span>
            <div class="rate-item">
                <img class="beer-brand-img" [src]="postInModal.BeerItem.BeerBrand.LogoUrl" />
                <span>{{postInModal.BeerItem.BeerBrand.Name}}</span>
                <span>{{postInModal.BeerItem.Name}}</span>
                <rating [(ngModel)]="postInModal.BeerRatingMark" [max]="10"
                        [readonly]="true"
                        [disabled]="false"
                        [required]="true"
                        [float]="true"
                        [ngModelOptions]="{standalone: true}"
                        class="pull-right">
                </rating>
            </div>
            <img class="feed-item-like" src='app/icons/like.png' *ngIf="!isLiked(postInModal)" (click)="setLike(postInModal)" />
            <img class="feed-item-dislike" src='app/icons/like.png' *ngIf="isLiked(postInModal)" (click)="unsetLike(postInModal)" />
            <span class="count-text">{{postInModal.Likes.length}}</span>
        </div>
        <div class="comments-section feed-item">
            <div class="comment-sender">
                <img class="feed-item-userpic" [src]="model.User.UserPictureUrl" />
                <input class="form-control" type="text" [(ngModel)]="commentModel.Text" 
                       placeholder="Type your comment.."
                       (keydown)="sendComment($event)"/>
            </div>
            <div class="comments-view">
                <ng-container *ngIf="postInModal.Comments.length > 0">
                    <div class="comment-item" *ngFor="let comment of postInModal.Comments">
                        <img class="feed-item-userpic" [src]="comment.User.UserPictureUrl" />
                        <span class="comment-item-username">[{{comment.User.Username}}]</span>
                        <span class="comment-text">{{comment.Text}}</span>
                        <span class="comment-datetime">{{comment.DateTime.toLocaleString()}}</span>
                    </div>
                </ng-container>
                <div *ngIf="postInModal.Comments.length == 0" class="comment-item">
                    <span class="comment-text">Be the first one to comment!</span>
                </div>
            </div>
        </div>
    </div>
</modal-dialog>

<div class="feed-item submit-item">
    <form class="form-horizontal" #dayReportForm="ngForm">
        <input type="text" class="form-control" required placeholder="Tell us how it was!" [(ngModel)]="model.Text" [ngModelOptions]="{standalone: true}" />
        <input auto-complete
               [source]="beerItems"
               [(ngModel)]="model.BeerItem"
               [ngModelOptions]="{standalone: true}"
               [list-formatter]="autocompleListFormatter"
               display-property-name="Name"
               class="form-control"
               placeholder="What beer?" />

        <rating [(ngModel)]="model.BeerRatingMark" [max]="10"
                [readonly]="false"
                [disabled]="false"
                [required]="true"
                [ngModelOptions]="{standalone: true}">
        </rating>

        <button type="submit" class="btn btn-success pull-right" (click)="sendPost()">
            Send post
        </button>
    </form>
</div>

<hr />
<div class="feed-item" *ngFor="let item of feedPosts">
    <img class="feed-item-userpic" [src]="item.User.UserPictureUrl" />
    <span class="feed-item-username">{{item.User.Username}}</span>
    <span class="feed-item-time">{{item.DateTime.toLocaleString()}}</span> <br />
    <span class="feed-item-text">{{item.Text}}</span>
    <div class="rate-item">
        <img class="beer-brand-img" [src]="item.BeerItem.BeerBrand.LogoUrl"/>
        <span>{{item.BeerItem.BeerBrand.Name}}</span>
        <span>{{item.BeerItem.Name}}</span>
        <rating [(ngModel)]="item.BeerRatingMark" [max]="10"
                [readonly]="true"
                [disabled]="false"
                [required]="true"
                [float]="true"
                [ngModelOptions]="{standalone: true}"
                class="pull-right">
        </rating>
    </div>
    <img class="feed-item-comment" src="app/icons/comment.png" 
         (click)="openCommentSection(item)"/> 
    <img class="feed-item-like" src='app/icons/like.png' *ngIf="!isLiked(item)" (click)="setLike(item)" /> 
    <img class="feed-item-dislike" src='app/icons/like.png' *ngIf="isLiked(item)" (click)="unsetLike(item)" />
    <span class="count-text">{{item.Likes.length}}</span>
    <img class="delete-item pull-right" src="app/icons/delete.png" 
         *ngIf="item.User.Username == model.User.Username" 
         (click)="removePost(item)"/>
</div>

<button class="btn btn-info" (click)="showPrevious()">Show previous</button>